@model IEnumerable<Calculator.Common.Models.UsersIpAddress>

@{
    ViewData["Title"] = "IP Address List";
}

<div class="container mt-4">
    <h1 class="display-4 text-center mb-4">IP Adresi Arama</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" id="searchInput" class="form-control form-control-lg" placeholder="Ara..." />
            </div>
        </div>
    </div>

    <div id="ipAddressList" class="mt-4">
        <partial name="_IpAddressList" model="Model" />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var searchId = $(this).val();
                $.get('/IpAddress/Search?id=' + searchId, function (data) {
                    $('#ipAddressList').html(data);
                });
            });
        });
    </script>
}