@{
    ViewData["Title"] = "Üslü İfade İşlemleri";
}

<h1>Üslü İfade İşlemleri</h1>

<div class="list-group">
    <a asp-action="Add" class="list-group-item list-group-item-action">Toplama</a>
    <a asp-action="Subtract" class="list-group-item list-group-item-action">Çıkarma</a>
    <a asp-action="Multiply" class="list-group-item list-group-item-action">Çarpma</a>
    <a asp-action="Divide" class="list-group-item list-group-item-action">Bölme</a>
</div>
