@{
    ViewData["Title"] = "Karekök İşlemleri";
}

<h1>Karekök İşlemleri</h1>

<div class="list-group">
    <a asp-action="Simplify" class="list-group-item list-group-item-action">Karekök Sadeleştir (a√b)</a>
    <a asp-action="Add" class="list-group-item list-group-item-action">Karekök Toplama (a√b + c√d)</a>
    <a asp-action="Subtract" class="list-group-item list-group-item-action">Karekök Çıkarma (a√b - c√d)</a>
    <a asp-action="Multiply" class="list-group-item list-group-item-action">Karekök Çarpma (a√b * c√d)</a>
    <a asp-action="Divide" class="list-group-item list-group-item-action">Karekök Bölme (a√b / c√d)</a>
</div>
